{
  "swagger": "2.0",
  "info": {
    "description": "API de profissionais cadastrados para recrutamento e seleção pela empresa JobsNET.",
    "version": "1.0.0",
    "title": "Users API",
    "contact": {
      "email": "apiteam@jobsnet.com.br"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.jobsnet.com.br",
  "tags": [
    {
      "name": "users",
      "description": "Banco de cadastro de profissionais."
    }
  ],
  "schemes": ["https"],
  "paths": {
    "/users": {
      "post": {
        "tags": ["users"],
        "summary": "Cadastra novo usuário",
        "description": "Cadastra novo usuário (profissional) na base de dados.",
        "operationId": "addUsers",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Usuário cadastrado com sucesso.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/User"
              }
            }
          },
          "400": {
            "description": "Erro na requisição."
          },
          "500": {
            "description": "Erro interno no servidor"
          }
        }
      }
    }
  },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "nome": {
          "type": "string"
        },
        "cpf": {
          "type": "string",
          "minLength": 11,
          "maxLength": 11
        },
        "dataNascimento": {
          "type": "string",
          "format": "date"
        },
        "estadoCivil": {
          "type": "string",
          "enum": ["solteiro", "casado", "divorciado", "viuvo"]
        },
        "sexo": {
          "type": "string",
          "enum": ["feminino", "masculino"]
        },
        "email": {
          "type": "string"
        },
        "telefone1": {
          "type": "string"
        },
        "telefone2": {
          "type": "string"
        },
        "cep": {
          "type": "string"
        },
        "logradouro": {
          "type": "string"
        },
        "numero": {
          "type": "integer",
          "format": "int32"
        },
        "bairro": {
          "type": "string"
        },
        "cidade": {
          "type": "string"
        },
        "estado": {
          "type": "string"
        }
      }
    }
  }
}
